<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <%= link_to @authenticated_user, class: "navbar-brand" do %> 
            <%= render  "shared/navbars/logo" %>
            <%= @authenticated_user.screen_name %>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to  "Chats", user_path(@authenticated_user), class: "nav-link active" %>
                </li>
                <li class="nav-item">
                    <%= link_to  "About", '/about', class: "nav-link active" %>
                </li>
                <li class="nav-item">
                    <%= link_to  "Sign Out", logout_path, class: "nav-link active" %>
                </li>
                
            </ul>
            
            <% if flash[:notice] %>
                <div id="passwordHelpInline" class="text-danger" style="margin-right: 1em;">
                    <%= flash[:notice] %>
                </div>
            <% end %>
            
            <%= form_with model: [@authenticated_user, Chat.new], remote: true, class: 'd-flex' do |f|%>
                <%= f.text_field :screen_name, label: "screen name", class: "form-control me-2", placeholder: "New Chat" %>
                <%= f.submit "Search", class: "btn btn-outline-success" %>
            <% end %>
        </div>
    </div>
</nav>